{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header > section{
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  border-top: solid rgb(16, 180, 16) 10px;
}

/* .baner{
    background-image: url('../assets/img/background.png');
} */

.caixa-texto > h1{
  font-family:'Pacifico', cursive;
  color: white;
  font-size: 52px;
}

.caixa-texto > h2{
  font-family:'Pacifico', cursive;
  color: rgb(16, 180, 16);
  font-size: 40px;
  padding: 27px 0px 0px 0px;
}
.paragrafo > p{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: -25px;
  padding-right: 150px;

}
.geral{
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}
.caixa-texto{
  display: flex;
}
.mao > img{
  width: 440px;
  padding: 16px 225px 0px 0;
}

.caixa-texto-mae{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 180px 325px;
}

.icones{
  display: flex;
  padding-right: 300px;
  margin-right: 0;
}

.icones > div{
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  justify-content: space-around;
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

.icones >div:hover{
  background-color: rgb(16, 180, 16);
}

.card-servicos{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  text-align: center;
}

.servicos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 130px 0 130px;
}


.img-servicos{
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(34, 214, 103);
  justify-content: space-around;
  width: 80px;
  height: 80px;
  margin-right: 14px;
}


#email-video{
  display: flex;
}

.video-email{
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content:space-around;
}

.newslettler{
  flex-direction: column;
  display: flex;
  padding: 30px 50px 70px 170px;
  background-color: rgba(255, 251, 251, 0.062);
  
}

.video{
  display: flex;
  width: 30%;
  margin: 50px 150px 50px 150px;
}

.email{
  padding-top: 14px;

}
.email > label{
  background-color: rgb(34, 214, 103);
  padding: 15px 41px 17px 41px;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  background-color: #2DCC70;
  color: white;
}

.email > input{
  border-radius: 12px 0px 0px 12px;
  border: 1px solid rgb(194, 192, 192);
  box-sizing: border-box;
  height: 50px;
  width: 270px;
  padding-left: 15px; 
  margin-right: -15px;
}

.texto{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.texto > p{
  padding: 55px 350px 2px 350px;
  margin: 0;
}
.texto > h2{
  padding: 20px 260px 32px 260px;
  margin: 0;
  font-size: 18px;
}